body {
  padding-top: 160px;
  margin: 0;
}
.pics {
  display: grid;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 10px;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 80px;
}
.rooms-pic {
  width: 100%;
  height: 306px;
}

.pics-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  font-family: roboto, arial;
}
.pics-km,
.pics-date,
.pics-rate {
  font-size: 14px;
  color: rgb(96, 96, 96);
  font-family: roboto, arial;
  font-weight: 400;
}
.pics-km {
  margin-top: -8px;
}
.pics-rate {
  color: black;
  margin-top: -5px;
}
.pics-date {
  margin-top: -10px;
}
.pics-only {
  margin-bottom: 8px;
  position: relative;
}
.fa-heart {
  position: absolute;
  top: 12px;
  right: 10px;
}

.two-btn {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 40px;
}
.menu {
  width: 100px;
}
.rooms-pic {
  border-radius: 15px;
}
